/* @font-face {
  font-family: 'MyCustomFont';
  src: url('./assets/NintendBoldRM8E.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}


body {
  background-image: url('assets/Frutiger_Publish_MarkusM.png');
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 40px 15px;

}

.container {
  width: 100%;
  max-width: 600px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  color: white;
}

.card {
  background: #A2D65A;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-3px);
}

h2 {
  margin-bottom: 15px;
  color:white;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #2E7D32;
  font-size: 14px;
  color: #0d3f10;
  background-color: #2E7D32;
  
}

input:focus {
  outline: none;
  border-color: #0d3f10;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: #6AB0DE;
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s ease;
}

button:hover {
  background-color: #4A90E2;
}

p {
  margin-top: 10px;
  font-weight: 500;
  color: #2E7D32;
}

/* 📱 Mobil optimalizálás */
@media (max-width: 480px) {
  body {
    padding: 20px 10px;
  }

  .card {
    padding: 18px;
  }

  h1 {
    font-size: 22px;
  }
}
